[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sillynamegenerator = {editable = true, git = "https://github.com/caferequerido/poopypants-silly-name-generator.git"}
openai = "*"
jinja2 = "*"
requests = "*"
markdownify = "*"
google-genai = "*"

[dev-packages]

[requires]
python_version = "3.13"
